{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>

    <link rel="stylesheet" href="{% static 'borrow.css' %}">
</head>
<body>

<div class="container">

    <h2>Borrow Book</h2>

    <div class="book-info">
        <p><strong>Book ID:</strong> {{ book.B_id }}</p>
        <p><strong>Book Name:</strong> {{ book.Name }}</p>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Pages:</strong> {{ book.pages }}</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">
            Confirm Borrow
        </button>
    </form>

    <a href="{% url 'DashBoard' %}" class="cancel-btn" style="text-decoration: none; color: black;;text-align: center;">
        ← Back to Dashboard
    </a>

</div>

</body>
</html>