{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
    <form method="POST" class="input-group">
        {% csrf_token %}

        <label>Username</label><br>
        <input type="text" name="username" required placeholder="Enter User Name"><br><br>

        <label>Password</label><br>
        <input type="password" name="password" required placeholder="Enter password"><br><br>

        <button type="submit" class="login-btn">Login</button>
        {% if error %}
        <p  style="color:red" style="text-align: center;">{{ error }}</p>
        {% endif %}
        </form>
        <a href="{% url 'DashBoard' %}" class="db-btn"  style="color: black;">← Back to Dashboard</a>
    </div>
</body>
</html>